<form>
  <h4> Search: </h4>
  <input type="text" ng-model="controller.search" ng-model-options="{debounce:1000}"
  ng-change="controller.getBills()" />
</form>

<div>
  <h4> Bills: </h4>
  <ul>
    <li ng-repeat="bill in controller.bills | filter:
    {current_status_description: controller.search }">
      <div> {{ bill.current_status_description }} </div>
      <div> {{ bill.display_number }} </div>
    </li>
  </ul>
</div>
<!-- <button ng-click="controller.printPerson()">get data</button> -->
