<div class="custom-container" ng-cloak>
  <md-card class="custom-container">
    <md-card-header>
      <md-card-title-text>
        <span class="md-headline"> Search Bills: </span>
      </md-card-title-text>
    </md-card-header>
    <md-card-content>
      <form>
        <input type="text" ng-model="controller.search" ng-model-options="{debounce:1000}"
        ng-change="controller.getBills()" />
      </form>
    </md-card-content>
  </md-card>

  <div>
    <md-card ng-repeat="bill in controller.bills | filter:
    {title_without_number: controller.search }">
    <div class="md-media-md card-media">
      <strong> {{ bill.display_number }} </strong>
       <p> {{ bill.title_without_number}} </p>
    </div>
   </md-card>
 </div>

</div>
