<div class="custom-container" ng-cloak>
  <md-card class="custom-container" ng-cloak>
    <md-card-header  class="fix-height" layout="row" layout-sm="column" layout-xs="column" layout-align="space-around center">
      <md-card-title-text  flex="50" flex-sm="100" flex-xs="100" class="md-headline" layout="row" layout-sm="column" layout-xs="column" layout-align="start center">
          <div flex="10" flex-sm="0" flex-xs="0"></div>
          <div flex="20" flex-sm="100" flex-xs="100" class="bs-search-2"> Search for </div>
          <md-select flex="30" flex-sm="100" flex-xs="100" ng-cloak aria-label = "type" name="type" ng-model="controller.search.type" ng-model-options="{debounce:1000}"
          ng-change="controller.list()">
            <md-option value="bill">Bills</md-option>
            <md-option value="person">People</md-option>
          </md-select>
          <div flex="20" flex-sm="0" flex-xs="0"></div>
      </md-card-title-text>
      <!-- bill filters  -->

          <!-- spinner -->
      <!-- <div layout="row" layout-sm="column" layout-align="space-around" ng-show="controller.loadingChange || true">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div> -->

      <md-card-title-text  flex="50" flex-sm="100" flex-xs="100" class="md-headline" layout="row" layout-sm="column" layout-xs="column" layout-align="start center"
      ng-show="(controller.search.type == 'bill' && !controller.loadingChange)" ng-cloak>
          <div flex="20"></div>
          <div flex="20" flex-sm="50" flex-xs="50">
          <span ng-cloak class=" bs-search" ng-show="controller.search.type == 'person'"> Filter by </span>
          <span ng-cloak class=" bs-search" ng-show="controller.search.type == 'bill'"> Dated after </span>
         </div>
          <!-- <md-select aria-label = "filter by" name="type" ng-model="controller.billOptions"
           ng-change="controller.list()" ng-model-options="{debounce:1000}">
            <md-option value="current_status=prov_kill_veto">Vetoed</md-option>
            <md-option value="current_status=passed_bill">Passed</md-option>
          </md-select> -->
          <!-- date view -->
            <md-input-container  class="no-pad" flex="30" flex-sm="50" flex-xs="50">
              <!-- <label for="date" >last active</label> -->
            <!-- <input aria-label = "date" name="date" type="date" ng-model="controller.billDate"
               ng-change="controller.list()" ng-model-options="{debounce:1000}" /> -->

          <md-datepicker ng-model="controller.search.date" md-placeholder="Active after..."
             ng-change="controller.list()" ng-model-options="{debounce:1000}" >
          </md-datepicker>
         </md-input-container>
         <div flex="30"></div>
          <!-- -->
      </md-card-title-text>

          <!-- spinner -->
    <div flex="50" flex-sm="100" flex-xs="100" class="md-headline spin-container" layout="row" layout-sm="row" layout-xs="row" layout-align="start center" ng-show="controller.loadingChange">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <!-- people filters  -->
      <md-card-title-text  flex="50" flex-sm="100" flex-xs="100" class="md-headline" layout="row" layout-sm="row" layout-xs="row" layout-align="start center"
      ng-show="controller.search.type == 'person' && !controller.loadingChange">
      <div flex="20"></div>
      <div flex="20">
          <span class=" bs-search"> Filter by </span>
        </div>
          <md-select flex="30" aria-label = "filter by" name="type" ng-model="controller.personOptions"
           ng-change="controller.list()" ng-model-options="{debounce:1000}">
           <md-option value="all_people">All</md-option>
            <md-option value="role_type=representative">House</md-option>
            <md-option value="role_type=senator">Senate</md-option>
          </md-select>
          <div flex="30"></div>
      </md-card-title-text>

    </md-card-header>
    <md-card-content>
      <form  layout="row" layout-sm="row" layout-xs="row" layout-align="center center">
        <md-input-container flex="50" flex-sm="100" flex-xs="100">
          <label>search</label>
          <input type="text" ng-model="controller.search.query" ng-model-options="{debounce:1000}"
          ng-change="controller.list()" />
        </md-input-container>
      </form>
    </md-card-content>


  </md-card>

  <div>
    <!-- <md-card ng-repeat="bill in controller.bills | filter:
    {title_without_number: controller.search }"> -->

    <!-- spinner -->
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="controller.loadingChange">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

    <md-content ng-show="!controller.loadingChange">

    <md-card ng-repeat="item in controller.feedItems" >
      <md-card-content>
        <div class="md-media-md card-media home-cards  mobile-md-text " ng-show="controller.search.type == 'bill'">
          <p> {{ item.display_number }} </p>
          <!-- <hr /> -->
           <p><strong> {{ item.title_without_number}} </strong></p>
           <!-- <hr /> -->
           <md-card class="md-hue-1">
             <md-card-content>
             <p> {{item.current_status_description}} </p>
                <p> last activity: {{ item.current_status_date }} </p>

                <div class="md-media-md card-media" ng-show="controller.search.type == 'bill'">
                   <a href="{{item.link}}" target="_blank"> see details </a>
                </div>

              </md-card-content>
            </md-card>
          </md-content>
        </div>

        <!-- <div class="md-media-md card-media" ng-show="controller.search.type == 'person' && !item.person">
          <strong> {{ item.firstname }} </strong>
           <p> {{ item.lastname}} </p>
           <div class="md-media-md card-media" ng-show="!!item.person && controller.search.type != 'bill'">
              <a href="{{item.person.link}}" target="_blank"> see details </a>
           </div>
        </div> -->

        <div class="md-media-md card-media mobile-md-text " ng-show="!!item.person && controller.search.type != 'bill'">

            <p>               <strong> {{ item.person.name }} </strong> </p>
                      <md-card class="md-hue-1">
            <md-card-content>
               <p> {{ item.party }} </p>
               <p> {{ item.phone }} </p>
               <p> {{ item.website }} </p>
               <div class="md-media-md card-media" ng-show="!!item.person && controller.search.type != 'bill'">
                  <a href="{{item.person.link}}" target="_blank"> see details </a>
               </div>
             </md-card-content>
           </md-card>
        </div>

        <div class="star-holder" ng-click="controller.rateItem(item)" ng-show="item.person || item.display_number">
            <md-icon ng-class="{'gold-star': !!item.starred}" class="bs-icon" >star_rate</md-icon>
        </div >
     </md-card-content>
   </md-card>
 </div>

</div>
