

  <div class="container custom-container" layout = "row" layout-sm = "column" layout-xs = "column" ng-cloak>

    <md-card class="custom-container" flex = "25" flex-sm = "100" flex-xs = "100">
        <md-card-title class="notifications-height">
          <md-card-title-text class="">
            <span class="md-headline"> Notifications: </span>
          </md-card-title-text>
        </md-card-title>
          <div class="md-media-lg card-media" >
            <!-- notification cards-->
            <md-card ng-show="!vm.notifications.length">
              <md-card-content class="md-hue-1">
                <p class="mobile-small-text">No notifications.</p>
              </md-card-content>
            </md-card>

            <md-card ng-repeat="notification in vm.notifications">
              <md-card-content class="md-hue-1">
                <div class="md-media-md card-media">
                  <!-- <strong> {{notification.date}} </strong> -->
                    <strong> {{notification}} </strong>
                  <!-- <hr />
                  <p> {{notification.text}} </p> -->
                </div>
              </md-card-content>
              <md-card-content>
                <md-button class="md-warn md-raised" ng-click="vm.deNotify(notification)"> delete X  </md-button>
              </md-card-content>
            </md-card>
          </div>
      </md-card>

        <md-card class="custom-container" flex ="75" flex-sm ="25" flex-xs ="25">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"> My Starred Items: </span>
              </md-card-title-text>
            </md-card-title>
              <md-card-title-media>
                <div class="md-media-lg card-media">

                  <md-card ng-repeat="item in vm.starredItems" class=" md-primary md-hue-1">
                    <md-card-content class="mobile-smaller-text">
                      <div class="md-media-md card-media" ng-show="!!item.data.current_status_date">
                        <p> {{ item.data.display_number }} </p>
                        <hr />
                         <strong> {{ item.data.title_without_number}} </strong>
                         <hr />
                         <p> {{item.data.current_status_description}} </p>
                            <p> last activity: {{ item.data.current_status_date }} </p>
                      </div>
                      <div class="md-media-md card-media" ng-show="!!item.data.firstname && !item.data.person">
                        <strong> {{ item.data.firstname }} </strong>
                         <p> {{ item.data.lastname}} </p>
                      </div>
                      <div class="md-media-md card-media" ng-show="!!item.data.person && !!item.data.person['name']">
                        <strong> {{ item.data.person.name }} </strong>
                         <p> {{ item.data.person.party }} </p>
                      </div>
                      <div class="md-media-md card-media">
                        <a href="{{item.apiLocation}}" target="_blank"> see details </a>
                      </div>
                      <div ng-show="vm.localStore.isLoggedIn()" class="star-holder" ng-click="vm.removeItem(item.data)" >
                          <md-icon class="bs-icon gold-star" >star_rate</md-icon>
                      </div >
                   </md-card-content>
                 </md-card>

                </div>
              </md-card-title-media>
          </md-card>

  </div>
