

  <div class="container custom-container" layout = "row" ng-cloak>

    <md-card class="custom-container" flex = "50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> Notifications: </span>
          </md-card-title-text>
        </md-card-title>
          <div class="md-media-lg card-media">
            <!-- notification cards-->
            <md-card ng-repeat="notification in vm.notifications">
              <md-card-content>
                <div class="md-media-md card-media">
                  <strong> {{notification.date}} </strong>
                  <hr />
                  <p> {{notification.text}} </p>
                </div>
              </md-card-content>
            </md-card>
          </div>
      </md-card>

        <md-card class="custom-container" flex ="50">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline"> My Starred Items: </span>
              </md-card-title-text>
            </md-card-title>
              <md-card-title-media>
                <div class="md-media-lg card-media">

                  <md-card ng-repeat="item in vm.starredItems">
                    <md-card-content>
                      <div class="md-media-md card-media" ng-show="!!item.current_status_date">
                        <p> {{ item.display_number }} </p>
                        <hr />
                         <strong> {{ item.title_without_number}} </strong>
                         <hr />
                         <p> {{item.current_status_description}} </p>
                            <p> last activity: {{ item.current_status_date }} </p>
                      </div>
                      <div class="md-media-md card-media" ng-show="!!item.firstname && !item.person">
                        <strong> {{ item.firstname }} </strong>
                         <p> {{ item.lastname}} </p>
                      </div>
                      <div class="md-media-md card-media" ng-show="!!item.person && !!item.person['name']">
                        <strong> {{ item.person.name }} </strong>
                         <p> {{ item.person.party }} </p>
                      </div>
                      <div class="star-holder" ng-click="vm.removeItem(item)" >
                          <md-icon class="bs-icon gold-star" >star_rate</md-icon>
                      </div >
                   </md-card-content>
                 </md-card>

                </div>
              </md-card-title-media>
          </md-card>

  </div>
