
  <div class="container custom-container" ng-cloak>
    <md-card class="custom-container">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> New Label: </span>
          </md-card-title-text>
        </md-card-title>
          <div class="md-media-lg card-media">
              <form ng-submit="controller.postLabel(controller.newLabel)">
                <md-input-container>
                  <label> Label name: </label>
                  <input type="text" ng-model="controller.newLabel.name" />
                </md-input-container>
                <md-input-container>
                  <md-button type="submit">Submit</md-button>
                </md-input-container>
              </form>
            </div>
      </md-card>

      <md-card class="custom-container">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"> My Interest Labels: </span>
            </md-card-title-text>
          </md-card-title>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <ul>
                  <li ng-repeat="label in controller.labels">
                    <div>
                      {{ label.name }}
                      <md-button ng-click="controller.openDialog(label)">
                          edit</md-button>
                      <md-button ng-click="controller.removeTag(label)">delete</md-button>
                    </div>
                  </li>
                </ul>
              </div>
            </md-card-title-media>
        </md-card>
  </div>
