<!-- class form group on div and form control on input -->

  <div class="container custom-container" ng-cloak>
    <md-card class="custom-container">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> New Tag: </span>
            <!-- <span class="md-subhead">Large</span> -->
          </md-card-title-text>
        </md-card-title>
          <div class="md-media-lg card-media">
              <form ng-submit="controller.postTag(controller.newTag)">
                <md-input-container>
                  <label> Tag name: </label>
                  <input type="text" ng-model="controller.newTag.name" />
                </md-input-container>
                <md-input-container>
                  <md-button type="submit">Submit</md-button>
                </md-input-container>
              </form>
            </div>
        <!-- <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions> -->
      </md-card>

      <md-card class="custom-container">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"> My Interest Tags: </span>
              <!-- <span class="md-subhead">Large</span> -->
            </md-card-title-text>
          </md-card-title>
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <ul>
                  <li ng-repeat="tag in controller.tags">
                    <div>
                      {{ tag.name }}
                      <md-button ng-click="controller.openDialog(tag)">
                          edit</md-button>
                      <md-button ng-click="controller.removeTag(tag)">delete</md-button>
                    </div>
                  </li>
                </ul>
              </div>
            </md-card-title-media>
          <!-- <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions> -->
        </md-card>
  </div>
