<!DOCTYPE html>
<html ng-app="ngpoli">

<head>
  <title>ngpoli</title>
  <meta charset="utf-8">
  <base href="/" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
  <link href="/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <div class="container custom-container">
    <div layout="row" layout-align="space-around center" ng-cloak>
      <div class="icon-holder">
        <md-icon class="bs-icon" >account_balance</md-icon>
    </div>
      <h1 class="header-text">
           Bill Seek
        </h1>
      <div class="icon-holder">
        <md-icon class="bs-icon" >account_balance</md-icon>
      </div>
    </div>
  <hr />
    <md-content class="md-padding">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="center">
        <md-nav-item md-nav-sref="home">Home</md-nav-item>
        <md-nav-item md-nav-sref="interests({ user: ''})">My Interests</md-nav-item>
        <md-nav-item md-nav-sref="account">Account</md-nav-item>
       </md-nav-bar>
    </md-content>
        <hr />
        <div class="container custom-container" max-width="100%">
          <ui-view class="custom-container"></ui-view>
      </div>
  </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>

  <!-- <script src="/bower_components/angular-touch/angular-touch.min.js"></script> -->
  <!-- <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> -->
  <script src="/bower_components/angular-material/angular-material.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>
  <script src="/ngApp/services/dbServices.js"></script>

   <!-- preloaded templates -->
  <script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog>
      <md-dialog-content>
        <h1> Edit Tag:  </h1>
        <form>
        <input type="text" ng-model="controller.editTag.name" />
        <div>
          <md-button ng-click="controller.cancelEdit()">Cancel</md-button>
          <md-button ng-click="controller.submitEdit()">Save</md-button>
        </div>
      </form>
     </md-dialog-content>
    </md-dialog>
  </script>

  <script type="text/ng-template" id="dialog2.tmpl.html">
    <md-dialog flex="50">
      <md-dialog-content layout="column" layout-align="center space-around">
        <md-content class="md-padding">
          <h1> Welcome to BillSeek!  </h1>
          <hr />
        </md-content>
        <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
           <md-tab label="returning user" ng-click="controller.isNewUser = false">
           </md-tab>
           <md-tab label="new user" ng-click= "controller.isNewUser = true">
           </md-tab>
         </md-tabs>
        </md-content>
        <md-content class="md-padding">
          <form ng-submit="controller.trySubmit(controller.isNewUser, controller.authUser)"
           layout="column" layout-align="center center">
            <!-- <md-content class="md-padding"> -->
              <h3>
                <span ng-show="controller.isNewUser">Register:</span>
                <span ng-show="!controller.isNewUser">Login:</span>
              </h3>
            <!-- </md-content> -->
              <md-input-container>
                <label>username:</label>
                <input type="text" ng-model="controller.authUser.username" />
              </md-input-container>
              <md-input-container>
                <label>password:</label>
                <input type="text" ng-model="controller.authUser.password" />

               </md-input-container>
              <!-- <md-button ng-click="controller.cancel()">Cancel</md-button> -->
              <md-input-container>
                <md-button type="submit">Go</md-button>
            </md-input-container>

          </form>
        </md-content>
     </md-dialog-content>
    </md-dialog>
  </script>


</body>

</html>
